.arrow0 {
    /* width: 200px; */
    /* height: 200px; */
    top: 315px;
    left: 1310px;
    position: absolute;
}
.arrowTip0 {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid blue;
    /* position: relative; */
    /* bottom: 10px; */
    /* left: 690px; */
    /* top: 60px; */
}
.arrowBody0 {
    width: 240px;
    height: 5px;
    border-bottom: 3px solid blue;
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(90deg);
    position: absolute;
}
.arrow1 {
    top: 875px;
    left: 790px;
    position: absolute;
}
.arrowTip1 {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid purple;
    -webkit-transform:
    translateY(50px)
    translateX(-100px)
    rotate(315deg);
}
.arrowBody1 {
    width: 200px;
    height: 5px;
    border-bottom: 3px solid purple;
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(45deg);
    position: absolute;
}
.arrow2 {
    top: 470px;
    left: 500px;
    position: absolute;
}
.arrowTip2 {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid orange;
    -webkit-transform:
    translateY(-155px)
    translateX(553px)
    rotate(45deg);

}
.arrowBody2 {
    width: 780px;
    height: 5px;
    border-bottom: 3px solid orange;
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(135deg);
    position: absolute;
}

.board {
    top: 146px;
    position: absolute;
    /* margin: auto; */
    /* width: 90%; */
    left: 320px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 1020px;
    height: 1020px;
    /* background: transparent; */
    /* background-color: transparent; */
}

.die {
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    top: 350px;
    left: 40px;
}

.menu {
    position: absolute;
    width: 300px;
    height: 350px;
    background: rgb(255, 241, 202);
    top: 145px;
}

.snakeHead0 {
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 20px solid red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 430px;
    top: 200px;
    position: absolute;
}
.snakeBody0 {
    width: 140px;
    height: 15px;
    background: red;
    border-radius: 100px / 100px;
    position: absolute;
    left: 350px;
    top: 295px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(105deg);
}
.snakeTail0 {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    border-radius: 50%;
    left: 385px;
    top: 373px;
}
.snakeHead1 {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-top: 20px solid green;
    border-right: 20px solid green;
    border-bottom: 20px solid green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 480px;
    top: 510px;
    position: absolute;
}
  .snakeBody1 {
    width: 640px;
    height: 15px;
    background: green;
    border-radius: 100px / 100px;
    position: absolute;
    left: 520px;
    top: 555px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(5deg);
}
.snakeTail1 {
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    border-radius: 50%;
    left: 1157px;
    top: 595px;
}
.snakeHead2 {
    width: 0px;
    height: 0px;
    border-left: 20px solid black;
    border-top: 20px solid transparent;
    border-right: 20px solid black;
    border-bottom: 20px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 683px;
    top: 405px;
    position: absolute;
}
.snakeBody2 {
    width: 240px;
    height: 15px;
    background: black;
    border-radius: 100px / 100px;
    position: absolute;
    left: 583px;
    top: 560px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(90deg);
}
.snakeTail2 {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 50%;
    left: 698px;
    top: 695px;
}

.start {
    position: relative;
    width: 100px;
    height: 100px;
    /* display: flex; */
    top: 310px;
    left: 170px;
}

.tile {
    height: 100px;
    flex-basis: 100px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    color: black;
    text-shadow: 1px 1px 1px white;
    border: 1px solid gray;
    background: rgb(255, 229, 124);
}

.title {
    position: relative;
    margin: auto;
}

.token1 {
    position: relative;
    top: 30px;
    left: 45px;
    /* bottom: -20px; */
    /* left: 102px; */
    /* bottom: 102px; */
}
.tokenTop1 {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}
.tokenBottom1 {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid red;
    position: absolute;
    bottom: 60px;
}
.token2 {
    position: relative;
    top: 30px;
    left: 5px;
    /* bottom: -20px; */
    /* left: 102px; */
    /* bottom: 102px; */
}
.tokenTop2 {
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}
.tokenBottom2 {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid blue;
    position: absolute;
    bottom: 60px;
}
