.arrow1 {
    /* width: 200px; */
    /* height: 200px; */
    top: 65px;
    left: 1310px;
    position: relative;
}
.arrowTip {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid blue;
    /* position: relative; */
    /* bottom: 10px; */
    /* left: 690px; */
    /* top: 60px; */
}
.arrowBody {
    width: 240px;
    height: 5px;
    border-bottom: 2px solid blue;
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(90deg);
    position: relative;
}
/* 120 */
/* 623 */

#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}

#triangle-down {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-top: 100px solid red;
}

#triangle-left {
width: 0;
height: 0;
border-top: 50px solid transparent;
border-right: 100px solid red;
border-bottom: 50px solid transparent;
}

#triangle-right {
width: 0;
height: 0;
border-top: 50px solid transparent;
border-left: 100px solid red;
border-bottom: 50px solid transparent;
}

#triangle-topleft {
width: 0;
height: 0;
border-top: 100px solid red;
border-right: 100px solid transparent;
}

#triangle-topright {
width: 0;
height: 0;
border-top: 100px solid red;
border-left: 100px solid transparent;
}

#triangle-bottomleft {
width: 0;
height: 0;
border-bottom: 100px solid red;
border-right: 100px solid transparent;
}

#triangle-bottomright {
width: 0;
height: 0;
border-bottom: 100px solid red;
border-left: 100px solid transparent;
}

#oval {
    width: 200px;
    height: 100px;
    background: red;
    border-radius: 100px / 50px;
}

#pacman {
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid red;
    border-left: 60px solid red;
    border-bottom: 60px solid red;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }


.board {
    top: 146px;
    position: absolute;
    /* margin: auto; */
    /* width: 90%; */
    left: 320px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 1020px;
    height: 1020px;
    /* background: transparent; */
    /* background-color: transparent; */
}

/* .die-cube {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    background: purple;
    border: 1px solid black;
    position: absolute;
}

.dot1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
} */

/* .dot1-1
.dot2-1
.dot2-2
.dot3-1
.dot3-2
.dot3-3
.dot4-1
.dot4-2
.dot4-3
.dot4-4
.dot5-1
.dot5-2
.dot5-3
.dot5-4
.dot5-5
.dot6-1
.dot6-2
.dot6-3
.dot6-4
.dot6-5
.dot6-6 */

.die {
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    top: 320px;
    left: 50px;
}

.end {
    width: 300px;
    position: relative;
    top: 320px;
    font-size: 20px;;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    align-content: center;
    background: linear-gradient(top, #222, #333);
} */

/* .dot {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
} */

.menu {
    position: absolute;
    width: 300px;
    height: 307px;
    background: rgb(255, 241, 202);
    top: 145px;
    /* left: 50px; */
}

.snakeTail {
    width: 140px;
    height: 15px;
    background: red;
    border-radius: 100px / 100px;
    position: relative;
    left: 335px;
    top: 120px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(110deg);
}

.snakeHead {
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 20px solid red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 430px;
    top: 200px;
    position: absolute;
  }


.start {
    position: relative;
    width: 100px;
    height: 100px;
    /* display: flex; */
    top: 280px;
    left: 180px;
}

.tile {
    /* border: 1px solid black; */
    /* background-color: lightblue; */
    /* margin: auto; */
    /* width: 100px; */
    /* height: 100px; */
    height: 100px;
    flex-basis: 100px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    color: black;
    text-shadow: 1px 1px 1px white;
    border: 1px solid gray;
}

.title {
    position: relative;
    margin: auto;
}

.token {
    position: relative;
    top: 25px;
    left: 30px;
    /* bottom: -20px; */
    /* left: 102px; */
    /* bottom: 102px; */
}

.token-top {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* position: relative; */
}

.token-bottom {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid red;
    position: relative;
    bottom: 10px;
}