.arrow0 {
    /* width: 200px; */
    /* height: 200px; */
    top: 315px;
    left: 1310px;
    position: absolute;
}
.arrowTip0 {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid rgb(0, 255, 255);
    /* position: relative; */
    /* bottom: 10px; */
    /* left: 690px; */
    /* top: 60px; */
}
.arrowBody0 {
    width: 240px;
    height: 5px;
    border-bottom: 3px solid rgb(0, 255, 255);
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(90deg);
    position: absolute;
}
.arrow1 {
    top: 875px;
    left: 790px;
    position: absolute;
}
.arrowTip1 {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid rgb(255, 0, 255);
    -webkit-transform:
    translateY(50px)
    translateX(-100px)
    rotate(315deg);
}
.arrowBody1 {
    width: 200px;
    height: 5px;
    border-bottom: 3px solid rgb(255, 0, 255);
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(45deg);
    position: absolute;
}
.arrow2 {
    top: 470px;
    left: 500px;
    position: absolute;
}
.arrowTip2 {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 30px solid orange;
    -webkit-transform:
    translateY(-155px)
    translateX(553px)
    rotate(45deg);

}
.arrowBody2 {
    width: 780px;
    height: 5px;
    border-bottom: 3px solid orange;
    -webkit-transform:
        translateY(110px)
        translateX(-112px)
        rotate(135deg);
    position: absolute;
}

/* for sBoard */
.board {
    top: 146px;
    position: absolute;
    left: 320px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 1020px;
    height: 1020px;
    /* background: transparent; */
    /* background-color: transparent; */
    /* margin: auto; */
    /* width: 90%; */
}

/* for pBoard */
.board1 {
    top: 146px;
    position: absolute;
    left: 320px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 918px;
    height: 918px;
}


.die {
    padding: 4px;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    top: 420px;
    left: 40px;
}

/* for sBoard */
.image {
    width: 1020px;
    height: 1020px;
    left: 321px;
    top: 147px;
    position: absolute;
    z-index: -1;
}

/* for pBoard */
.image1 {
    width: 918px;
    height: 918px;
    left: 313px;
    top: 102px;
    position: relative;
    z-index: -1;
}

.ladder0 {
    width: 40px;
    height: 320px;
    position: absolute; 
    left: 1280px;
    top: 300px;
}
.ladder1 {
    width: 200px;
    height: 230px;
    position: absolute; 
    left: 520px;
    top: 900px;
}
.ladder2 {
    width: 160px;
    height: 650px;
    position: absolute; 
    left: 800px;
    top: 240px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(38deg);

}

.menu {
    position: absolute;
    width: 300px;
    height: 400px;
    background: rgb(255, 241, 202);
    font-size: 20px;
    top: 145px;
}

.snakeHead0 {
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-top: 20px solid yellow;
    border-left: 20px solid yellow;
    border-bottom: 20px solid yellow;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 430px;
    top: 200px;
    position: absolute;
}
.snakeBody0 {
    width: 140px;
    height: 15px;
    background: yellow;
    border-radius: 100px / 100px;
    position: absolute;
    left: 350px;
    top: 295px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(105deg);
}
.snakeTail0 {
    width: 10px;
    height: 10px;
    background: yellow;
    position: absolute;
    border-radius: 50%;
    left: 385px;
    top: 373px;
}
.snakeHead1 {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-top: 20px solid green;
    border-right: 20px solid green;
    border-bottom: 20px solid green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 480px;
    top: 510px;
    position: absolute;
}
  .snakeBody1 {
    width: 640px;
    height: 15px;
    background: green;
    border-radius: 100px / 100px;
    position: absolute;
    left: 520px;
    top: 555px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(5deg);
}
.snakeTail1 {
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    border-radius: 50%;
    left: 1157px;
    top: 595px;
}
.snakeHead2 {
    width: 0px;
    height: 0px;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 555px;
    top: 405px;
    position: absolute;
}
.snakeBody2 {
    width: 240px;
    height: 15px;
    background: white;
    border-radius: 100px / 100px;
    position: absolute;
    left: 455px;
    top: 560px;
    -webkit-transform:
    translateY(0px)
    translateX(0px)
    rotate(90deg);
}
.snakeTail2 {
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: 570px;
    top: 695px;
}
.snake3 {
    width: 120px;
    height: 150px;
    position: absolute; 
    left: 1070px;
    top: 900px;
}
.snake4 {
    width: 220px;
    height: 140px;
    position: absolute; 
    left: 980px;
    top: 660px;
}


.start {
    position: relative;
    width: 100px;
    height: 100px;
    /* display: flex; */
    top: 310px;
    left: 170px;
}

/* for sBoard */
.tile {
    height: 100px;
    flex-basis: 100px;
    display: flex;
    color: rgb(0, 255, 0);
    font-size: 18px;
    border: 1px solid gray;
    background: transparent;
    z-index: 1;
    /* align-items: center; */
    /* justify-content: center; */
    text-shadow: 2px 2px 2px black;
    /* background: rgb(255, 229, 124); */
}

/* for pBoard */
.tile1 {
    height: 100px;
    flex-basis: 100px;
    display: flex;
    color: white;
    border: 1px solid gray;
    background: transparent;
    z-index: 1;
}

#tile1, #tile100 {
    /* background: white; */
}

.title {
    position: relative;
    margin: auto;
}

.token1 {
    position: relative;
    top: 30px;
    left: 45px;
    /* bottom: -20px; */
    /* left: 102px; */
    /* bottom: 102px; */
}
.tokenTop1 {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}
.tokenBottom1 {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid red;
    position: absolute;
    bottom: 60px;
}
.token2 {
    position: relative;
    top: 30px;
    left: 5px;
    /* bottom: -20px; */
    /* left: 102px; */
    /* bottom: 102px; */
}
.tokenTop2 {
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}
.tokenBottom2 {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid blue;
    position: absolute;
    bottom: 60px;
}
